{% extends 'staticpages/base.html' %}

{% block title %}
Campeonatos
{% endblock title %}

{% block content %}
<h2>Campeonatos:</h2>

<section>
    {% for category in category_list %}
    <hr>
    <article>
            <h3> {{category.name}} </h3>
        <div class="lista-de-cards">
            {% for jogos in category.jogos.all %}
            <div class="card">
                <a href="{% url 'jogos:detail' jogos.id %}"> 
                    <img src="{{ jogo.escudo_url }}" alt="Escudo {{ jogo.name}}" width = 150>
                </a>
                <p>{{ jogo.name }} ({{ jogo.dia_jogo }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}


    <a href="{% url 'jogos:create-category' %}"><button>Adicione um campeonato</button></a>
</section>

{% endblock content %}