{% extends 'staticpages/base.html' %} {% block title %} {{ jogo.name }} ({{
  jogo.dia_jogo }} {% endblock title %} {% block content %}
  <h2>{{ jogo.name }} ({{ jogo.dia_jogo }})</h2>
  
  <section class="dados-do-jogo">
    <img src="{{ jogo.escudo_url }}" alt="Escudo {{ jogo.name}}" width = 150 />
    <ul>
      <li>Jogo: {{ jogo.name }}</li>
      <li>Data: {{ jogo.dia_jogo }}</li>
      <li>Placar: {{ jogo.placar }}</li>
    </ul>

    {% if jogo.category_set.all %}
      <h3>Categoria(s):</h3> 
      {% for category in jogo.category_set.all %}
        <a href="{% url 'jogos:detail_category' category.id %}">{{ category.name }}</a>
      {% endfor %}
    {% endif %}
  </section>

  <section>
    <ul>
      <li><a href="{% url 'jogos:update' jogo.id %}"><button>Editar Jogo</button></a></li>
      <li><a href="{% url 'jogos:delete' jogo.id %}"><button>Apagar Jogo</button></a></li>
    </ul>
  </section>

  <section>
          <h3>Comentários:</h3>
      <ul>
          {% if jogo.comentario_set.all %}
              {% for comentario in jogo.comentario_set.all %}
                  <figure>
                      <blockquote>
                          - "{{ comentario.text }}", Autor: {{ comentario.author }}
                        <hr>
                      </blockquote>
                      
                  </figure>
              {% endfor %}
          {% else %}
              <p>Ainda não existem comentários sobre esse jogo.</p>
          {% endif %}
      </ul>
      <a href="{% url 'jogos:comentario' jogo.pk %}"><button> Adicionar um comentário </button></a>
  </section>


  {% endblock content %}