{% extends 'staticpages/base.html' %}
{% block content %}
<h2>Editar Jogo {{ jogo.name }} ({{ jogo.dia_jogo}})</h2>
<form method="post" action="{% url 'jogos:update' jogo.id%}">
  {% csrf_token %}
  <p>
    <label for="id_name">Jogo:</label>
    <input type="text" name="name" id="id_name" value="{{ jogo.name }}" />
  </p>
  <p>
    <label for="id_dia_jogo">Dia do Jogo:</label>
    <input type="date" name="dia_jogo" id="id_dia_jogo" />
  </p>
  <p>
    <label for="id_placar">Placar:</label>
    <input type="text" name="placar" id="id_placar" />
  </p>
  <p>
    <label for="id_escudo_url">URL do Escudo:</label>
    <input type="url" name="escudo_url" id="id_escudo_url" />
  </p>
  <button type="submit">Atualizar</button>
</form>
{% endblock content %}